/*
#view2 {
    height: 200px;
     background-color: blue;
}

.avatar-view {
    float: left;
    margin-left: 10px;
    margin-top: 16px;
}

.info-view {
    float: left;
    margin-left: 30px;
    margin-top: 16px;
}
.date {
    fill: rgb(230, 0, 0);
    stroke-width: 2;
    font-size: 30px;
    line-height: normal;
}

.confirmed{
    color: red;
    stroke-width: 2;
    font-size: 40px;
    line-height: normal;
    background: #fafafa;
}

.total{
    color: red;
    stroke-width: 2;
    font-size: 40px;
    line-height: normal;
}
*/

.countrytitle{
    margin: 35px 0px 0px 0px;
    color: #1890ff;
    stroke-width: 2;
    font-size: 40px;
    line-height: normal;
    background: #fafafa;
}



